<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Document</title>
  <script>
    document.documentElement.style.fontSize = '30px'

  </script>
</head>

<body>
  123213
  <div id="app"></div>
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.5.2/vue.<%= htmlWebpackPlugin.options.cdn %>js"></script>
  <script src="https://cdn.bootcss.com/vuex/3.0.1/vuex.<%= htmlWebpackPlugin.options.cdn %>js"></script>
  <script src="https://cdn.bootcss.com/vue-router/3.0.1/vue-router.<%= htmlWebpackPlugin.options.cdn %>js"></script>
  <script src="https://cdn.bootcss.com/axios/0.18.0/axios.<%= htmlWebpackPlugin.options.cdn %>js"></script>
</body>


</html>
